{% extends "base.html" %}

{% block sidebar %}

    <div class="row" style="background-color: #4e1f00; color: white;">
        <h3>WELCOME TO STUDY TRACKER</h3>
    </div>

    <div class="row" style="border: 8px solid #4e1f00; text-align: justify">
        <p> Edit the information you wish to change and click the “Save Changes” 
            button once you are finished to save your changes.<br><br>

            The Class Name and Comment fields are OPTIONAL.<br><br>

            Removing the class name will cause the entry to no longer appear when 
            filtering the Study Log for that class.<br>
        </p>
    </div>
    

{% endblock %}

{% block content %}

    <div class="row" style="background-color: rgb(178, 144, 207); color: white">
        <h1 style="width: 100%">{% block title %} EDIT STUDY HOURS ENTRY {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="number">Study Hours (increments of 0.25):</label>
            <input type="number" step="0.25" min="0" max="24" name="studyhours"
                   placeholder="e.g. 3.25" value="{{ studylog.studyhours  }}" required>
        </p>

        <p>
            <label for="date">Date:</label>
            <input type="date" name="date" placeholder="Date" value={{ studylog.date  }} required>

        </p>

        <p>
            <label for="text">Class Name</label>
            <input type="text" name="classname" placeholder="Class Name (Optional)" value="{{ studylog.classname  }}">

        </p>

        <p>
            <label for="text">Comment</label>
            <input type="text" name="comment" placeholder="Comment (Optional)" value="{{ studylog.comment  }}">

        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    </div>

{% endblock %}