{% extends "base.html" %}

{% block sidebar %}

    <div class="row" style="background-color: #4e1f00; color: white;">
        <h3 style="margin: auto; padding-top: 3%; padding-bottom: 2%;">WELCOME</h3>
    </div>

    <div class="row" style="border: 5px solid #4e1f00; background-color: #f0e8e0; text-align: justify;">
        <p>Have you ever wanted to keep track of your study time during the week? 
            <b>Study Tracker</b> offers all the tools you might need to keep track 
            of your time consumption.<br><br>

            Log your study hours and filter them by time spent to see which class 
            is <b>consuming most of your time</b>, or by date to see 
            <b>which days you study the most</b>. 
</p>
    </div>

    <div class="row">
        <p><!-- <p>space</p> --></p>
    </div>

    <div class="row" style="background-color: #4e1f00; color: white;">
        <h3 style="margin: auto; padding-top: 3%; padding-bottom: 2%;">HOW TO USE</h3>
    </div>

    <div class="row" style="border: 5px solid #4e1f00; background-color: #f0e8e0; text-align: justify">
        <p> Add hours to your Study Log by clicking on the the <b>Log Study Hours</b> button. <br><br>

            To Edit ( <span class="material-symbols-outlined">edit</span> ) or Delete ( <span class="material-symbols-outlined">delete</span> ) existing entries, select the corresponding action 
            buttons next to the entry you wish to modify. <br><br>

            Select a class next to the <b>Current Classes</b> section to filter your Study Log data by class.<br>

        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="row" style="background-color: #4e1f00; color: white">
        <h1>MY STUDY LOG</h1>
    </div>
    
    <div class="row">
        <p><!-- space --></p>
    </div> 

    <div class="row">

        {% include "display_table.html" %}

    </div>

    <div class="row">
        <p><!-- space --></p>
    </div> 
    
    <div class="row align-items-center">
        <div class="col" >
            <b>Filter by: </b>
            <a href="/index/sort_by_hrs_asc">
                <button type="button" class="btn btn-secondary">
                    LEAST HOURS SPENT
                </button>
            </a>

            <a href="/index/sort_by_hrs_desc">
                <button type="button" class="btn btn-secondary">
                    MOST HOURS SPENT
                </button>
            </a>

            <a href="/index/sort_by_date_desc">
                <button type="button" class="btn btn-secondary">
                    NEWEST DATE
                </button>
            </a>

            <a href="/index/sort_by_date_asc">
                <button type="button" class="btn btn-secondary">
                    OLDEST DATE
                </button>
            </a>

            <a href="/index">
                <button type="button" class="btn btn-secondary">
                    RESET FILTER
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <p><!-- space --></p>
    </div> 

    <div class="row">
    <div class="col">
            <a href="/submit_hours">
                <button type="button btn-lg" class="btn btn-warning btn-lg">
                    (+) LOG STUDY HOURS
                </button>
            </a>
    

    <div class="row">
        <p><!-- space --></p>
    </div> 

    <div class="row">
        <div class="col" style="background-color: #4e1f00; color: white"><h3 style="margin: auto; padding-top: 1%; padding-bottom: 1%;">Current Classes</h3></div>
    </div>
    <div class="row">
        <div class="col" style="background-color: #f0e8e0; border: 5px solid #4e1f00;"> 
            <p></p>
            {% for classname in classnames %}
                <a href="{{ url_for('sort_by_class_name', class_name=classname) }}">
                    <button type="button" class="btn btn-dark">
                        {{ classname }}
                    </button>
                </a>
            {% endfor %}
            <a href="/index">
                <button type="button" class="btn btn-dark">
                    ALL CLASSES
                </button>
            </a>
            <p></p>
        </div>
    </div>
    </div>
{% endblock %}